.container
  h3 Welcome to Facecards
  div(ng-if="!M.session.currentLoginId")
    p.
      The idea here is quite straight-forward. You login with your LDS.org account and then
      we'll grab the photos from your ward directory and create flashcards for you.
    .option(ng-if="!M.message")
      button.btn.btn-block.btn-social.btn-lg.btn-ldsconnect(type="button", ng-click="M.loginWithLds()")
        i.fa
          img(src="/images/moroni.png")
        span.signin Sign In with LDS.org
    
  div(ng-if="M.session.currentLoginId")
    .alert.alert-warning(ng-if="M.alertMsg") {{ M.alertMsg }}
    .progress(ng-if="M.progress.message", ng-class="{ 'progress-striped': M.progress.progress, 'active': M.progress.progress }")
      .progress-bar(
        role="progressbar"
      , aria-valuenow="{{ M.progress.progress }}"
      , aria-valuemin="0"
      , aria-valuemax="1000"
      , style="width: {{ M.progress.progress }}%"
      )
        span.sr-only {{ M.progress.progress }}% Complete
    div(ng-if="M.progress.message")
      p {{ M.progress.message }}

    .row(ng-if="M.card")
      h4 Who is this?
      .thumbnail
        img(ng-src="{{M.card.photo}}")

      form(ng-submit="M.makeGuess()")
        input.form-control(type="text", ng-model="M.guess", placeholder="i.e. John Doe", typeahead="name as card.name for card in M.cards | filter:{name:$viewValue} | orderBy:M.sortByName | limitTo:8", typeahead-editable="true", typeahead-on-select="M.makeGuess($item, $model, $label)", typeahead-min-length="0")
        button.form-control.btn.btn-primary(type="submit") Guess

    .row(ng-if="M.finished")
      h3 You Finished. Huzzah!
      button.form-control.btn.btn-primary(type="button", ng-click="M.playAgain()") Play Again?
