.container
  .row
    h3 Download &amp; Print
    p We're working on printable flashcards.
    p.
      Pictures and details (such as calling) will be on the front, names will be on the back,
      and you'll be able to print and cut them out to use as real flashcards. Yay!
